<div class="container" style="width: 100%; padding-top: 5%;">
    <div style="width: 10%;"></div>
    <div lass="d-flex justify-content-center">
        <div class="well">
            <h2 class=" title">Mision</h2>
            <p>MVP Software Solutions is an IT company committed to have the right solution for your business in this
                technological era. We are also committed in providing the great customer service we all want to
                experience in this professional environment. </p>
            <p>MVP is committed to excellence and excel the expectations of all our customers, with great work Ethic,
                customer service, and providing the right I.T. solution for your School, Business, or any other company
                that might need our help and solutions. </p>
        </div>
    </div>
    <span style="height: 20%"></span>
    <div lass="d-flex justify-content-center">
        <hr />
        <div class="well">
            <h2 class=" title">Vision</h2>
            <p>Be the Greatest software company in the north part of México.</p>
        </div>
    </div>
    <div style="width: 10%;"></div>
</div>