<style>
    .div {
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container" style="width: 100%;">
    <div style="width: 10%;"></div>
    <div lass="d-flex justify-content-center" style="width: 80%;">
        <div class="well" style="width: 100%;">
            <h2 class=" title">Our Services</h2>
            <hr style="font-weight: bold;" />
            <div class="container" style="width: 100%;">
                <div class="row">
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-By-Smashicons/manual-test.png" class="img-responsive" style="width: 40%;"
                            alt="Manual Testing">
                            <br/>
                        Manual Testing
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-By-Smashicons/automated.png" class="img-responsive"
                            style="width: 40%;" alt="Automated Testing">
                            <br/>
                        Automated Testing
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-By-Smashicons/ebook.png" class="img-responsive"
                            style="width: 40%;" alt="Testing Documentation">
                            <br/>
                        Testing Documentation
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-by-srip/adaptive.png" class="img-responsive" style="width: 40%;"
                            alt="Multi-platform Testing">
                            <br/>
                        Multi-platform Testing
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-By-Smashicons/cloud.png" class="img-responsive" style="width: 40%;"
                            alt="API Testing">
                            <br/>
                        API Testing
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-By-Smashicons/test_gps.png" class="img-responsive" style="width: 40%;"
                            alt="APP Testing">
                            <br/>
                        APP Testing
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-by-srip/workflow.png" class="img-responsive" style="width: 40%;"
                            alt="Workflows">
                            <br/>
                        Workflows
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-By-Smashicons/estudiante.png" class="img-responsive" style="width: 40%;"
                            alt="Documentation">
                            <br/>
                        Documentation
                    </div>
                    <div class="col" style="text-align: center; margin-bottom: 10%;">
                        <img src="assets/img/png-by-srip/bug.png" class="img-responsive" style="width: 40%;"
                            alt="Detailed Reports">
                            <br/>
                        Detailed Reports
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 10%;"></div>
</div>
            <!-- <table class="table-borderless" style="width: 100%; margin-left: 0; margin-right: 0;">
                <tbody>
                    <tr>
                        <td class="celda">                            
                            <img src="assets/img/png-by-srip/manual.png" class="img-responsive"
                                style="width: 20%;" alt="Manual Test">
                            Manual Testing
                        </td>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/seo-and-web-auto.png" class="img-responsive"
                                style="width: 20%;" alt="Automated Test">
                                Automated Testing
                        </td>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/api.png" class="img-responsive"
                                style="width: 20%;" alt="API Testing">
                                API Testing
                        </td>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/adaptive.png" class="img-responsive"
                                style="width: 20%;" alt="Multi-platform Testing">
                                Multi-platform Testing
                        </td>
                    </tr>
                    <tr>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/seo-and-web.png" class="img-responsive"
                                style="width: 20%;" alt="Automated Test">
                                APP Testing
                        </td>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/workflow.png" class="img-responsive"
                                style="width: 20%;" alt="Automated Test">
                                Workflows
                        </td>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/documentation2.png" class="img-responsive"
                                style="width: 20%;" alt="Automated Test">
                                Documentation
                        </td>
                        <td class="celda">
                            <img src="assets/img/png-by-srip/bug.png" class="img-responsive"
                                style="width: 20%;" alt="Automated Test">
                                Detailed Reports
                        </td>
                    </tr>
                </tbody>
            </table> -->
