<div class="container" style="width: 100%; padding-top: 5%;">
    <div style="width: 10%;"></div>
    <div lass="d-flex justify-content-center">
        <img src="assets/img/mvplogo.png" class="img-responsive" style="width: 20%; height: 20%;"
            alt="Responsive image">
        <hr />
        <div class="well">
            <h2 class=" title">Who is MVP Software Solutions</h2>
            <p>MVP is an I.T. Company located it in the north part of México, in the state of Chihuahua.</p>
            <p>MVP was founded in the year 2019 in Delicias Chihuahua, with the vision of becoming the greatest IT
                Software
                Company of North America. The company was founded by Marco Fernandez Garcia a Computer Science Engineer
                started working as QA and it is currently expanding its capabilities with more Software Solutions.</p>
        </div>
    </div>
    <div style="width: 10%;"></div>
</div>