<h1>Employees 
  <hr>
  <small> MVP Software Solutions</small></h1>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let employee of employees; let i = index">
        <img [src]="employee.img" class="card-img-top" [alt]="employee.name">
        <div class="card-body">
             <h5 class="card-title">{{ employee.name }}</h5>
            <p class="card-text">{{ employee.profile }}</p>
            <p class="card-text"><small class="text-muted">{{ employee.birthday }}</small></p>
            <!-- <a href = "#" [routerLink]="['/heroe', i]" class= "btn btn-outline-primary">Ver más link...</a> -->
            <button (click)="gotoEmployee(i);" type="button" class="btn btn-outline-primary btn-block">  Ver más... </button>
        </div>
    </div>

</div>
