<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; height: 5%;">

  <div class="align-self-center" style="width: 40%;">
    <a class="navbar-brand" href="#">
      <img src="assets/img/mvplogo.ico"  width="30" height="30" alt="">

    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['employees']">Service <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['employees']">Our Team <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['about']">About <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" style="width: 37%;"></div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="width: 23%;">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" width="70%">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 28%;">Search</button>
    </form>
  </div>
</nav>